.calendar-container {
    height: 600px
}

.fc-slats {
    height: 100px; /* Adjust this value to increase or decrease slot height */
}

.fc-event {
    font-size: 20px; /* Adjust this value as needed */
}

.fc-slot{
    height: 1px;
}
.fc-time-grid .fc-slot {
    height: 1000px; /* Change this value to adjust the height */
}

.fc-slats {
    height: 1px;
}